.logosign {
    color: rgb(0, 110, 88);
    text-shadow: 1px 1px rgb(164, 157, 157);
}

.logoin {
    color: rgb(173, 43, 0);
    text-shadow: 1px 1px rgb(243, 240, 240);
}


.bg-container{
    display:flex;
    flex-direction: row;
    height:100vh;
    width:100vw
}
.sidebar-link {
    text-decoration: none;
    color: white;
}

.sidebar-link:hover {
    background-color: #3366CC;
}
.task-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
  width: 550px;
  height: 550px;
  background-color: #eefeff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.items{
    padding:15px;
    font-size: 24px;
}
.inputs{
height:30px;
padding-left:5px;
margin-left:15px;
}
.card{
    width:60vw;
    color:#4B6262  ;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    margin-bottom:15px;
    border-radius:20px;
    padding:10px;
    background-color: #E1EDF2  ;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
}
.button{
    padding:10px;
     border-radius:10px;
      width:95px;
      font-size: 16px;
       background-color:#35B9EA;
        border-style: solid;
        color:white;
        border-color:#4B6262
}
.login-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width:100%;
    font-size:24px
}

@media (max-width: 768px) {
  .login-container {
      flex-direction: column; /* Change to column for screens smaller than 768px */
  }
}
.modal-header{
  display:flex;
justify-content: space-between;
align-items: center;
}
/* home page  */

/* src/Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-left .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 4%;
  }
  
  .navbar-user-info {
    display: flex;
    align-items: center;
  }
  
  
  .navbar-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .navbar-logout {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 10%;
  }
  
  .navbar-logout:hover {
    background-color: #ff1a1a;
  }

  .buttons {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    padding: 15px;
}
  

/* home page */

.container{
  display:flex;
  margin-top:2%;
  height:100vh;
  width:100vw
  /* height:90% */
}
.card{
  width:60vw;
  height:5vw;
  background-color: #E1EDF2;
  border-style: solid;
  border-radius: 10px;
  margin-left: 3%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.circular-badge {
  background-color: #F77007;
  /* margin-top: 15px; */
  height: 20px;
  width: 20px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.blog-form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border-style: solid; */
  
}
.blog-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .blog-form {
  display: flex;
  flex-direction: column;
  width: 300px;
} */

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input{
  width:15vw;
  height:3vh
}
.input-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  min-width: 15vw;
  min-height: 10vh;
  width: 100%; /* Expand input to fill available space */
}

.button-group {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}




.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* 33.33% for 3 items, subtracting grid gap */
  grid-gap: 20px;
  
}

.blog-card {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #E1EDF2;
}

.read-more {
  display: block;
  margin-top: 10px;
  color: blue;
}
.blog-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent */
}




/* blogs */
.blog-container{
  width:60vw;
  padding:15px;
  background-color: #E1EDF2;
  border-style: solid;
  border-radius: 10px;
  margin-left: 3%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.meta-info {
  display: flex;
  flex-direction: column;
}
.comment-card{
  background-color: #ccc;
  border-radius: 10px;
  padding:8px;
  margin-top: 5px;
  
}

/* blogs */

