.logosign {
    color: rgb(0, 110, 88);
    text-shadow: 1px 1px rgb(164, 157, 157);
}

.logoin {
    color: rgb(173, 43, 0);
    text-shadow: 1px 1px rgb(243, 240, 240);
}


.bg-container{
    display:flex;
    flex-direction: row;
    height:100vh;
    width:100vw
}
.sidebar-link {
    text-decoration: none;
    color: white;
}

.sidebar-link:hover {
    background-color: #3366CC;
}
.task-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
  width: 550px;
  height: 550px;
  background-color: #eefeff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.items{
    padding:15px;
    font-size: 24px;
}
.inputs{
height:30px;
padding-left:5px;
margin-left:15px;
}
.card{
    width:60vw;
    color:#4B6262  ;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    margin-bottom:15px;
    border-radius:20px;
    padding:10px;
    background-color: #E1EDF2  ;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
}
.button{
    padding:10px;
     border-radius:10px;
      width:95px;
      font-size: 16px;
       background-color:#35B9EA;
        border-style: solid;
        color:white;
        border-color:#4B6262
}
.login-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width:100%;
    font-size:24px
}

@media (max-width: 768px) {
  .login-container {
      flex-direction: column; /* Change to column for screens smaller than 768px */
  }
}
.modal-header{
  display:flex;
justify-content: space-between;
align-items: center;
}
/* home page  */

/* src/Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-left .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-user-info {
    display: flex;
    align-items: center;
  }
  
  .navbar-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .navbar-logout {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-logout:hover {
    background-color: #ff1a1a;
  }

  .buttons {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    padding: 15px;
}
  

/* home page */
